<div class="login-container">
  <h2>Login</h2>

  <!-- Login Form -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Email Input -->
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
        required
        placeholder="Enter your email"
      />
      <div
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
        class="error"
      >
        Email is required.
      </div>
    </div>

    <!-- Password Input -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
        required
        placeholder="Enter your password"
      />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
        class="error"
      >
        Password is required.
      </div>
    </div>

    <div class="mb-4 text-center">
      <button
        mat-raised-button
        type="submit"
        [disabled]="loginForm.invalid"
        class="custom-btn w-100"
      >
        Login
      </button>
    </div>
  </form>

  <!-- <div class="google-login">
    <button (click)="loginWithGoogle()" class="btn btn-secondary">
      Login with Google
    </button>
  </div> -->
</div>
